  .container{
      margin: auto;
  }
  textarea{
    width: 100%;
    height: 250%;
    border-radius: 5px;
  }
  
  .saisInput{
    width: 340px;
    height: 50vh;
    border-radius: 10px;
    background-color: #ffff;
  }
  
  button{
    margin-top: 100px;
  }
  
  @media screen and (max-width: 770px) {
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    textarea{
      width: 60%;
      height: 100px;
    }

    input{
        width: 60%;
        height: auto;
    }
    button{
      margin-top: 25px;
      align-items: center;
      }
  }  